@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes lampFlicker {
  0%, 100% { opacity: .9; filter: blur(6px) brightness(1); }
  50%      { opacity: 1;  filter: blur(8px) brightness(1.05); }
}